/* All common and media style CSS here */
body{
    background-color: #F6F8FC;
}
.bg-color{
    background-color: #525198;
}

@media only screen and (max-width: 420px) {
    .body-height{
        margin-top: 300px;
    }
    .header{
        height: 550px;
    }
  }